@model IEnumerable<ContactList.Models.Contato>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-white poppins-font"> Todos os contatos </h1>

<div class="float-left mt-4 order-category">
    <li class="nav-item list-unstyled float-left mr-3" aria-current="page">
        <a class="nav-link text-white" asp-action="Index"> Todos </a>
    </li>
    <li class="nav-item dropdown float-left list-unstyled mr-3">
        <a class="nav-link dropdown-toggle text-white" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Outras Categorias</a>
        <div class="dropdown-menu">
            @foreach (var item in ViewBag.Categorias)
            {
                <a class="nav-link text-dark choosed-background" asp-action="BuscaCategoria" asp-route-idCategoria="@item.Id"> @item.CategoriaNome </a>
            }
        </div>
    </li>
    <p class="float-right justify-content-end">
        <a asp-action="Create" class="btn btn-primary"> Novo contato </a>
    </p>
</div>

<table class="table table-borderless table-striped table-light">
    <thead class="table-color-custom">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categoria)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Categoria.CategoriaNome)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" title="Editar"> <i class="fas fa-edit text-info"></i> </a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" title="Ecluir"> <i class="far fa-trash-alt text-danger"></i> </a>
                </td>
            </tr>
        }
    </tbody>
</table>

@if (!Model.Any())
{
    <div class="text-center">
        <div class="alert alert-warning" role="alert">
            Nenhum contato cadastrado
        </div>
    </div>
}
