@model IEnumerable<ContactList.Models.Contato>

@{
    ViewData["Title"] = "Index";
}

<div class="border-bottom mb-3">
    <nav class="navbar navbar-expand-lg navbar-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Alterna navegação">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item btn">
                    <a class="nav-link text-dark" asp-action="Index"> Todos </a>
                </li>

                @foreach (var item in ViewBag.Categorias)
                {
                    <li class="nav-item btn">
                        <a class="nav-link text-dark" asp-action="BuscaCategoria" asp-route-idCategoria="@item.Id"> @item.CategoriaNome </a>
                    </li>
                }
            </ul>
        </div>
    </nav>
</div>

<h1> Todos os contatos </h1>

<p class="float-right">
    <a asp-action="Create" class="btn btn-dark"> Novo contato </a>
</p>
<table class="table table-striped table-hover">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categoria)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Categoria.CategoriaNome)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id" title="Detalhes"> <i class="fas fa-info-circle"></i> </a> |
                    <a asp-action="Edit" asp-route-id="@item.Id" title="Editar"> <i class="fas fa-edit text-info"></i> </a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" title="Ecluir"> <i class="far fa-trash-alt text-danger"></i> </a>
                </td>
            </tr>
        }
    </tbody>
</table>

@if (!Model.Any())
{
    <div class="text-center">
        <div class="alert alert-warning" role="alert">
            Nenhum contato cadastrado
        </div>
    </div>
}
