@model IEnumerable<ContactList.Models.Categoria>

@{
    ViewData["Title"] = "Categorias";
}

<h1 class="text-white"> @ViewData["Title"] </h1>

<p class="float-right">
    <a asp-action="Create" class="btn btn-primary"> Adicionar categoria </a>
</p>
<table class="table table-borderless table-striped table-light">
    <thead class="table-color-custom">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoriaNome)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoriaNome)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id"> <i class="fas fa-edit text-info"></i> </a> |
                    <a asp-action="Delete" asp-route-id="@item.Id"> <i class="far fa-trash-alt text-danger"> </i> </a>
                </td>
            </tr>
        }
    </tbody>
</table>
